# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
env/
venv/
ENV/
.venv/

# VS Code
.vscode/

# Visual Studio
.vs/

# Database files
*.sqlite3
*.db

# Environment vars
.env

# System files
.DS_Store
Thumbs.db

# Pi-related artifacts (optional)
*.log
*.bak
*.swp
